@import url("https://fonts.googleapis.com/css?family=Roboto:400,400i,500,500i,700,700i");

/* from https://github.com/yuta0801/scrapbox-reader/blob/master/assets/app.css */

.node{
    white-space:normal;
}

blockquote{
    margin:0;
    font-style:italic;
    background-color:hsla(0,0%,50%,.1);
    display:block;
    border-left:4px solid #a0a0a0;
    padding-left:4px
}

code{
    font-family:Menlo,Monaco,Consolas,Courier New,monospace;
}

/* literal */
.node code{
    background-color:rgba(0,0,0,0.04);
}

/* codeblock */
.node code[class*="code-block"]{
    background-color:rgba(0,255,0,0.1);
    white-space:pre;
}
.node .code-block-start{
    font-size:.9em;
    background-color:#ffcfc6;
    padding:1px 2px
}
