@import url("https://fonts.googleapis.com/css?family=Roboto:400,400i,500,500i,700,700i");

/* from https://github.com/yuta0801/scrapbox-reader/blob/master/assets/app.css */

.page{
    font-size:15px;
    line-height:28px;
    font-family:Roboto,Helvetica,Arial,Hiragino Sans,sans-serif;
    background-color:#fefefe
}
.node{
    white-space:pre-wrap;
    word-wrap:break-word
}
.node img.icon{
    height:1.3em;
    vertical-align:top
}
.node img.strong-icon{
    height:3.9em;
    vertical-align:bottom
}
.deco .deco-\*-1{
    font-weight:700
}
.deco .deco-\*-2{
    font-weight:700;
    font-size:1.2em;
    line-height:28px
}
.deco .deco-\*-3{
    font-weight:700;
    font-size:1.44em;
    line-height:35px
}
.deco .deco-\*-4{
    font-weight:700;
    font-size:1.73em;
    line-height:42px
}
.deco .deco-\*-5{
    font-weight:700;
    font-size:2.07em;
    line-height:49px
}
.deco .deco-\*-6{
    font-weight:700;
    font-size:2.49em;
    line-height:56px
}
.deco .deco-\*-7{
    font-weight:700;
    font-size:3em;
    line-height:63px
}
.deco .deco-\*-8{
    font-weight:700;
    font-size:3.58em;
    line-height:77px
}
.deco .deco-\*-9{
    font-weight:700;
    font-size:4.3em;
    line-height:91px
}
.deco .deco-\*-10{
    font-weight:700;
    font-size:5.16em;
    line-height:105px
}
.deco .deco-\/{
    font-style:italic
}
.deco .deco--{
    text-decoration:line-through
}
.deco .deco-_{
    text-decoration:underline
}
.node .quote{
    margin:0;
    font-style:italic;
    background-color:hsla(0,0%,50%,.1);
    display:block;
    border-left:4px solid #a0a0a0;
    padding-left:4px
}
.node .quote>.tag{
    visibility:hidden
}
code{
    font-family:Menlo,Monaco,Consolas,Courier New,monospace
}
.node code{
    padding:0;
    font-size:90%;
    color:#342d9c;
    white-space:pre-wrap;
    word-wrap:break-word;
    border-radius:4px
}
.node .code-block,.node code{
    background-color:rgba(0,0,0,.04)
}
.node .code-block{
    display:block;
    line-height:2em
}
.node .code-block .code-block-start{
    font-size:.9em;
    background-color:#ffcfc6;
    padding:1px 2px
}
.node code.helpfeel{
    background-color:#fbebdd;
    padding:3px!important
}
.node code.helpfeel .prefix{
    color:#f17c00
}
.node code.helpfeel .entry{
    color:#cc5020
}
.node a.link .image{
    padding-bottom:3px;
    border:1.5px #8fadf9;
    border-style:none none solid
}
.table-block table{
    border-collapse: collapse
}
.table-block .table-block-start{
    padding:1px 2px;
    font-size:.9em;
    background-color:#ffcfc6
}
.table-block .cell{
    margin:0;
    padding:0 8px;
    box-sizing: content-box;
    white-space:pre
}
.table-block .cell:nth-child(2n){
    background-color:rgba(0,0,0,.06)
}
.table-block .cell:nth-child(odd){
    background-color:rgba(0,0,0,.04)
}
.node .formula{
    margin:auto 6px
}
a{
    color:#5e8af7
}
a:active,a:focus,a:hover{
    color:#1555f3
}
.node a.page-link{
    text-decoration:none
}
.node.node-title{
    font-size:1.73em;
    line-height:42px;
    color:#000;
    padding-bottom:21px
}
.node code.cli .prefix{
    color:#9c6248
}
.node span.code-block .code-block-start a,.table-block .table-block-start a{
    color:#342d9c;
    text-decoration:underline
}
