@import url("https://fonts.googleapis.com/css?family=Roboto:400,400i,500,500i,700,700i");

/* from https://github.com/yuta0801/scrapbox-reader/blob/master/assets/app.css */

.node{
    white-space:normal;
    font-size:15px;
    line-height:28px;
    font-family:Roboto,Helvetica,Arial,Hiragino Sans,sans-serif;
    background-color:#fefefe
}

code,pre{
    font-family:Menlo,Monaco,Consolas,Courier New,monospace;
}

/* line */
.line > span{
    border-left: 4px ridge #000000;
    padding-left: 6px;
}
.line > span:empty{
    border-left: none;
    padding-left: none;
}

/* quote */
blockquote{
    margin:0;
    font-style:italic;
    background-color:hsla(0,0%,50%,.1);
    display:block;
    border-left:4px solid #a0a0a0;
    padding-left:4px
}

/* literal */
.node code{
    background-color:rgba(0,0,0,0.04);
}

/* codeblock */
.node pre{
    background-color:rgba(0,0,0,0.04);
    /* background-color:rgba(0,255,0,0.1); */
    white-space:pre;
    margin-top: 2px;
    margin-bottom: 2px;
}
.node .code-block-start{
    font-size:.7em;
    background-color:rgba(255,0,0,0.05);
    padding:1px 2px;
}
